<nav class="flex flex-grow justify-end basis-0">
  <ul class="flex gap-4 list-none">
    <li><a href="/">Home</a></li>
    <li><a href="/">Favs</a></li>
  </ul>
</nav>

<style>
  a {
    text-decoration: none;
    color: #fff;
  }
</style>
